.App {
  text-align: center;
  position: relative;
  background-image: url(./images/pattern-hills.svg), url(./images/bg-stars.svg),
    var(--clr-app-background);
  background-size: 100% 200px, contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  min-height: 100vh;
  padding: 4.5rem 2rem;
  padding-top: 7.625rem;
}

.main {
  .title {
    text-transform: uppercase;
    color: var(--clr-nt-white);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 6.5rem;
    letter-spacing: 8px;
  }
}

footer {
  position: absolute;
  bottom: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
  &:hover {
    path {
      fill: var(--clr-soft-red);
    }
  }
}

@media (max-width: 768px) {
  .App {
    background-image: url(./images/pattern-hills.svg),
      url(./images/bg-stars.svg), var(--clr-app-background);
    background-size: 900px 200px, contain, contain;
    background-position: bottom 0px right -70px, top, center;
  }
}

@media (max-width: 520px) {
  .App {
    padding-inline: 1rem;
  }
  .main {
    .title {
      font-size: 1.2rem;
      margin-bottom: 5rem;
    }
  }
}
